:root {
}

@font-face {
  font-family: "ptsans";
  font-weight: normal;
  src: url("/ptsans.ttf");
}

@font-face {
  font-family: "ptsans";
  font-weight: bold;
  src: url("/ptsans-bold.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: "ptsans", sans-serif;
}

#main {
  position: sticky;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  font-size: 1.25rem;
}

span {
  color: red;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  margin-block: 0;
}

/* LAYOUT START */

header {
  box-sizing: border-box;
  width: 100%;
  position: sticky;
  display: flex;
  flex-direction: row;
  z-index: 30;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 5rem;
  padding: 0rem 4rem;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
}

header img {
  cursor: pointer;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  text-align: right;
  color: white;
  align-items: right;
}

header nav a {
  margin-left: 2.5rem;
  cursor: pointer;
  text-align: right;
}

header nav a:hover {
  color: rgb(200, 200, 200);
}

header nav .burger {
  display: none;
}

main {
  position: sticky;
  min-height: 100vh;
  margin-top: -5rem;
}

main .mainContent {
  margin: 2rem 18rem;
}

footer {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
  user-select: none;
  background-color: rgb(162, 162, 162);
  color: rgb(50, 50, 50);
  padding: 0rem 4rem;
}

footer a {
  margin-right: 1rem;
}

footer a:hover {
  color: rgb(220, 220, 220);
}

footer .footerRight {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  margin-left: auto;
  text-align: right;
}

footer .footerRight div {
  font-size: x-small;
}

.BurgerMenu {
  display: none;
}

@media (max-width: 575.98px) {
  header {
    padding: 0rem 1rem;
    justify-content: right;
    height: 4rem;
  }

  header nav {
    flex-direction: column;
    justify-content: right;
  }

  header nav a {
    display: none;
  }

  header nav .BurgerIcon {
    cursor: pointer;
  }

  header nav .BurgerIcon:active {
    color: rgb(200, 200, 200);
  }

  header nav .BurgerIcon .burger {
    display: block;
    width: 2rem;
    height: 0.25rem;
    background-color: white;
    margin: 0.5rem 0.25rem;
    user-select: none;
  }

  main {
    margin-top: -4rem;
  }

  main .mainContent {
    margin: 2rem 1rem;
  }

  footer {
    height: 4rem;
    padding: 0rem 1rem;
  }

  .BurgerMenu {
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgb(190, 190, 190);
    transition: 0.5s;
    position: absolute;
    z-index: 60;
    width: 0%;
    overflow-x: hidden;
  }

  .BurgerMenu > .BurgerContent {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2rem;
  }

  .BurgerMenu > .BurgerContent > a {
    color: rgb(50, 50, 50);
    box-sizing: border-box;
    position: relative;
    margin-bottom: 1rem;
    font-size: xx-large;
  }
}

@media (min-width: 575.99px) and (max-width: 1023.98px) {
  main .mainContent {
    margin: 2rem 6rem;
  }

  footer {
    padding: 0rem 2.5rem;
  }
}

/* LAYOUT END */

/* BACKGROUND BEGIN */

.background {
  height: 100vh;
  pointer-events: none;
  user-select: none;
}

.background .backgroundImage {
  position: relative;
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  filter: brightness(75%);
}

.background .backgroundCover {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  top: calc(100vh / 3);
}

/* BACKGROUND END */

/* HOMEPAGE BEGIN */

.kappa {
  object-fit: cover;
  width: 33.33%;
  height: auto;
  margin-bottom: 1rem;
}

/* HOMEPAGE END */

/* ABOUT BEGIN */

.aboutImageText {
  color: white;
  width: 66.66%;
  text-align: center;
  font-size: 4.5rem;
  font-weight: bold;
}

@media (max-width: 575.98px) {
  .aboutImageText {
    width: auto;
    margin: 0rem 1rem;
    font-size: 3rem;
  }
}

.eboardContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

.eboardContainer p {
  margin-block: 0;
  font-size: 0.75rem;
}

@media (min-width: 1279.98px) {
  .eboardContainer {
    margin: 0 12rem;
  }
}

/* ABOUT END */
